<mat-card>
    <mat-card-header>

        <mat-card-title *ngIf="this.isNewPost">Create new post</mat-card-title>
        
        <mat-card-title *ngIf="!this.isNewPost">{{this.getEmployeeUsernameFromId(this.post?.employeeId)}}</mat-card-title>
        <mat-card-subtitle *ngIf="!this.isNewPost" class="post-card-dates">
            <span *ngIf="post?.edited">Edited - {{post?.edited | date : 'yyyy-MM-dd'}}</span>
            <span>Created - {{post?.created | date : 'yyyy-MM-dd'}}</span>
        </mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
        
        <form *ngIf="this.isNewPost && !this.isPreviewing" class="new-post-form">
            <mat-form-field [floatLabel]="'never'" class="new-post-form-field">
                <textarea matInput cdkTextareaAutosize name="post" class="new-post" placeholder="Write a new post..."
                (focus)="this.newPost()" (blur)="this.onBlurNewPost()" [ngModel]="this.post?.text" 
                (ngModelChange)="this.post ? this.post.text = $event : null"
                [mentionConfig]="mentionConfig" (searchTerm)="this.getMentionList($event)"></textarea>
            </mat-form-field>
        </form>

        <form *ngIf="!this.isNewPost && this.isEditing && !this.isPreviewing" class="new-post-form">
            <mat-form-field [floatLabel]="'never'" class="new-post-form-field">
                <textarea matInput cdkTextareaAutosize name="post" class="new-post" placeholder="Edit the post..."
                [ngModel]="this.post?.text" (ngModelChange)="this.post ? this.post.text = $event : null"
                [mentionConfig]="mentionConfig" (searchTerm)="this.getMentionList($event)"></textarea>
            </mat-form-field>
        </form>

        <app-post-text *ngIf="!this.isNewPost && (!this.isEditing || this.isPreviewing)" [post]="this.post"></app-post-text>
        <app-post-text *ngIf="this.isNewPost && this.isPreviewing" [post]="post"></app-post-text>

    </mat-card-content>
    <mat-card-actions>
    <div class="edit-post-buttons" *ngIf="this.isEditing">
        <button mat-raised-button *ngIf="!this.isPreviewing" [disabled]="!post?.text" (click)="this.startPreviewing()">Preview</button>
        <button mat-raised-button *ngIf="this.isPreviewing" (click)="this.startEditing()">Write</button>
        <button mat-raised-button color="primary" *ngIf="this.isNewPost" [disabled]="!post?.text" (click)="this.createPost()">Create</button>
        <button mat-raised-button color="primary" *ngIf="!this.isNewPost" [disabled]="!post?.text" (click)="this.editPost()">Confirm</button>
        <button mat-raised-button color="warn" (click)="this.cancelEditing()">Cancel</button>
    </div>
    <div class="edit-post-buttons" *ngIf="!this.isNewPost && !this.isEditing">
        <button mat-raised-button (click)="this.startEditing()">Edit</button>
        <button mat-raised-button color="warn" (click)="this.deletePost()">Delete</button>
    </div>
    </mat-card-actions>
</mat-card>