<div class="posts-page">

    <mat-card>
        <mat-card-header>
            <mat-card-title>Create new post</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- <mat-tab-group> -->
                <!-- <mat-tab label="Write"> -->
                    <form class="new-post-form">
                        <mat-form-field [floatLabel]="'never'" class="new-post-form-field">
                            <textarea matInput cdkTextareaAutosize name="post" class="new-post" placeholder="Write a new post..."
                            (focus)="this.newPost()" (blur)="this.onBlurNewPost()" [ngModel]="postSelected?.text" 
                            (ngModelChange)="postSelected ? postSelected.text = $event : null"
                            [mentionConfig]="mentionConfig" (searchTerm)="this.getMentionList($event)"></textarea>
                        </mat-form-field>
                    </form>
                <!-- </mat-tab> -->
                <mat-tab *ngIf="postSelected" label="Preview"> Content 2 </mat-tab>
            <!-- </mat-tab-group> -->
        </mat-card-content>
        <mat-card-actions>
        <div class="manage-employee-buttons" *ngIf="postSelected">
            <button mat-raised-button class="manage-employee-button" color="primary" [disabled]="!postSelected?.text" (click)="this.addPost()">Create</button>
            <button mat-raised-button class="manage-employee-button" color="warn" (click)="this.cancelEditing()">Cancel</button>    
        </div>
        </mat-card-actions>
    </mat-card>

    <mat-chip-list>
    </mat-chip-list>

    <mat-card *ngFor="let post of postsList trackBy: this.trackById">
        <mat-card-header>
        <mat-card-title>{{this.getEmployeeUsernameFromId(post.employeeId)}}</mat-card-title>
        <mat-card-subtitle>Created - {{post.created | date : 'yyyy-MM-dd'}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="post.edited">Edited - {{post.edited | date : 'yyyy-MM-dd'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngFor="let item of this.getListOfPostItems(post.text) trackBy: this.trackByIndex">
                <ng-container [ngSwitch]="item.type">
                    <mat-chip *ngSwitchCase="PostItemType.Mention" [selectable]="false" selected color="primary">{{this.getMentionChipValue(item.value)}}</mat-chip>
                    <span *ngSwitchDefault>{{item.value}}</span>
                </ng-container>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>