<div class="employeeSelected ? admin-page-selected : admin-page">

  <mat-card *ngIf="employeeSelected" class="employee-card">
    <mat-card-header>
      <mat-card-title *ngIf="employeeSelected.id">Editing ID:{{employeeSelected.id}} - {{employeeSelected.username}}</mat-card-title>
      <mat-card-title *ngIf="!employeeSelected.id">Addinging new employee</mat-card-title>
    </mat-card-header>

    <form class="employee-form" #employeeForm="ngForm">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" name="username" required appEmployeeUsernamePattern #username="ngModel" [ngModel]="employeeSelected?.username" (ngModelChange)="employeeSelected ? employeeSelected.username = $event : null">
        <button mat-button *ngIf="employeeSelected?.username" matSuffix mat-icon-button aria-label="Clear" (click)="employeeSelected.username=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="username.invalid && username.errors.required">Username is required.</mat-error>
        <mat-error *ngIf="username.invalid && username.errors.appEmployeeUsernamePattern">Username can only contain letters, digits and the - and _ characters.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput type="text" name="phone" required minlength="9" maxlength="9" #phone="ngModel" [ngModel]="employeeSelected?.phone" (ngModelChange)="employeeSelected ? employeeSelected.phone = $event : null">
        <button mat-button *ngIf="employeeSelected?.phone" matSuffix mat-icon-button aria-label="Clear" (click)="clearPhone()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="phone.invalid && phone.errors.required">Phone is required.</mat-error>
        <mat-error *ngIf="phone.invalid && (phone.errors.minlength || phone.errors.maxlength)">9 digits are required of Phone field.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select required name="role" #role="ngModel" [ngModel]="employeeSelected?.role" >
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="role.invalid && role.errors.required">Role is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" required #name="ngModel"[ngModel]="employeeSelected?.name" (ngModelChange)="employeeSelected ? employeeSelected.name = $event : null">
        <button mat-button *ngIf="employeeSelected?.name" matSuffix mat-icon-button aria-label="Clear" (click)="employeeSelected.name=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="name.invalid && name.errors.required">Name is required.</mat-error>
      </mat-form-field>
    </form>

    <div class="manage-employee-buttons">
      <ng-container *ngIf="employeeSelected.id">
        <button mat-raised-button class="manage-employee-button" color="primary" [disabled]="employeeForm.invalid" (click)="this.editEmployee()">Confirm</button>
        <button mat-raised-button class="manage-employee-button" color="warn" (click)="this.cancelEditing()">Cancel</button>
        <button mat-raised-button class="manage-employee-button" color="warn">Delete</button>
      </ng-container>
      <ng-container *ngIf="!employeeSelected.id">
        <button mat-raised-button class="manage-employee-button" color="primary" [disabled]="employeeForm.invalid" (click)="this.addEmployee()">Add</button>
        <button mat-raised-button class="manage-employee-button" color="warn" (click)="this.cancelEditing()">Cancel</button>
      </ng-container>
    </div>
  </mat-card>

  <div>
    <h1>Employee List</h1>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td mat-cell *matCellDef="let row"> {{row.username}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
          <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
          <td mat-cell *matCellDef="let row"> {{row.role}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
    
        <!-- Manage Column -->
        <ng-container matColumnDef="manage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Manage </th>
          <td mat-cell *matCellDef="let row">
            <div class="manage-employee-buttons" >
              <button class="manage-employee-button" mat-raised-button color="primary" (click)="this.selectEmployee(row)">Edit</button>
              <button class="manage-employee-button" mat-raised-button color="warn">Delete</button>
            </div>
          </td>
        </ng-container>
    
        <tr mat-header-row sticky *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>

  <div class="add-employee">
    <button mat-fab color="primary" aria-label="Add new employee button" (click)="this.newEmployee()">
      <mat-icon>add</mat-icon>
    </button>
    <div class="add-employee-button-text">
        <h2>Add a new employee</h2>
    </div>
  </div>
</div>