.admin-page {
    display: grid;
    row-gap: 40px;
    margin: 40px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 20%;
}

.employee-form {
    margin: 10px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 60px;
    row-gap: 20px;
}

.manage-employee-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.manage-employee-button {
    margin: 2px;
}

.add-employee {
    display: flex;
    vertical-align: middle;
    flex-flow: row-reverse;
}

.add-employee-button-text {
    display: flex;
    align-items: center;
    margin-right: 10px;
}